*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@font-face{
    font-family: "Grold";
    src: url(../fontes/Grold-Regular.otf);
}
@font-face{
    font-family: "Valorant";
    src: url(../fontes/ValorantFont.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=DM + Mono&display=swap');
body  {
    width: 100%;
    height: 100vh;
    background-color: #cf093b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    main{
        width: 1200px;
        height: 600px;
        display: flex;
        
        
        border-radius: 20px;

            section{
                
                &.login{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background-color: #0f1923;
                    animation: troca 5s infinite;
                    transition: 0.3s ease-in-out;
                    left: 100%;
                    z-index: 1;

                    .area-logo{
                        position: relative;
                        bottom: 40px;

                   
                        img{
                            width: 100px;
                            margin-top: 50px;
                            
                        }
                        i{
                            color: rgb(253, 223, 223);
                            font-size: 18px;
                            position: relative;
                            bottom: 0px;
                            left: 100px;
                            
                            &:hover{
                                color: #F15B6C;
                                cursor: pointer;
                            }
                        }
                    }
                    .area-infos{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 40px;
                        h3{
                            font-family: Grold;
                            color: white;
                            margin: 25px 0;
                        }
                        .form-group{
                            width: 300px;
                            
                            
                            & input{
                                
                                background-color: #2e4257;
                                border: none;
                                margin-bottom: 25px;
                                height: 50px;
                                color: white;
                                
                                &::placeholder{
                                    font-size: 13px;   
                                    font-weight: 700;     
                                    color: rgb(132, 147, 160);      
                                    position: relative;
                                    transition: 0.1s;
                                    bottom: 5px;
                                    font-family: Grold;
                                    
                                                       
                                }

                                &:focus{
                                    font-size: 12px;
                                        &::placeholder{
                                            color: rgb(211, 217, 223);   
                                            font-size: 10px;
                                            bottom: 15px;
                                            padding-bottom: 405px;
                                            padding: 10px;
                                            
                                        }
                                }
                            }
                        }
                        .redes{
                            button{
                                width: 90px;
                                margin-left: 5px;
                                i{
                                    font-size: 20px;
                                }
                            }
                        }

                    }
                    .manterl{
                        text-align: start;
                        padding: 10px;

                        input{
                            border: none;
                            background-color: rgb(218, 255, 250);
                        }

                        label{
                            color: rgb(132, 147, 160); 
                            font-weight: 700;
                        }
                    }
                    .area-inferior{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        i{
                            position: relative;
                            bottom: 30px;
                            color: white;
                            font-size: 60px;
                            &:hover{
                                color: rgb(252, 228, 228);
                                cursor: pointer;                              
                            }
                        }
                        .area-regis{
                            display: flex;
                            align-items: center;
                            p{
                                color: white;
                                padding-top: 5px;
                                margin-top: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                   
                }
                &.registro{
                    width: 600px;
                    height: 600px;
                    display: flex;
                    margin-left: 400px;
                    flex-direction: column;
                    text-align: center;
                    background-color: #0f1923;
                    animation: troca 5s infinite;
                    transition: 0.3s ease-in-out;
                    
                    background-color: rgb(255, 255, 255);
                    position: absolute;
                    z-index: 2;

                    .area-logo{
                        position: relative;
                        bottom: 40px;
                        img{
                            width: 100px;
                            margin-top: 50px;
                            
                        }
                        i{
                            color: rgb(253, 223, 223);
                            font-size: 18px;
                            position: relative;
                            bottom: 0px;
                            left: 100px;
                            
                            &:hover{
                                color: #F15B6C;
                                cursor: pointer;
                            }
                        }
                    }
                    .area-infos{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 40px;
                        h3{
                            font-family: Grold;
                            color: white;
                            margin: 25px 0;
                        }
                        .form-group{
                            width: 300px;
                            
                            
                            & input{
                                
                                background-color: #2e4257;
                                border: none;
                                margin-bottom: 25px;
                                height: 50px;
                                color: white;
                                
                                &::placeholder{
                                    font-size: 13px;   
                                    font-weight: 700;     
                                    color: rgb(132, 147, 160);      
                                    position: relative;
                                    transition: 0.1s;
                                    bottom: 5px;
                                    font-family: Grold;
                                    
                                                       
                                }

                                &:focus{
                                    font-size: 12px;
                                        &::placeholder{
                                            color: rgb(211, 217, 223);   
                                            font-size: 10px;
                                            bottom: 15px;
                                            padding-bottom: 405px;
                                            padding: 10px;
                                            
                                        }
                                }
                            }
                        }
                        .redes{
                            button{
                                width: 90px;
                                margin-left: 5px;
                                i{
                                    font-size: 20px;
                                }
                            }
                        }

                    }
                 .criar{
                     font-family: Grold;
                     margin-bottom: 20px;
                 }
                 .area-inferior{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                   
                    .area-regis{
                        display: flex;
                        align-items: center;
                        margin-top: -20px;
                        
                        p{
                            color: white;
                            padding-top: 5px;
                            margin-top: 10px;
                            padding-right: 10px;
                        }
                    }
                }
                }
                &.back{
                    width: 70%;
                    height: 100%;
                    background: url(../imagens/convert.gif);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 3;
                    transition: 0.3s ease-in-out;
                    display: flex;
              
                    overflow: hidden;
                    justify-content: space-between;
                    flex-direction: column;

                    .bg-video{
                        width: 100%;
                        height: 100%;
                        transition: 0.3s ease-in-out;

                        .vd{
                            width: 1200px;
                            position: relative;
                            right: 200px;
                            transition: 0.3s ease-in-out;
                        
                        }
                    }
                    .area-config{
                        width: 40px;
                        height: 40px;
                        background-color:#202D3A ;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-self: flex-end;
                        position: absolute;
                        
                        cursor: pointer;
                        
                         i{
                             color: #F32D3D;
                             cursor: pointer;

                         }
                         &:hover{
                            background-color:#0b121a ;
                            
                             i{
                                color: #960713;
                             }
                         }
                    }
                    .voltar{
                        width: 40px;
                        height: 40px;
                        background-color:#202D3A ;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;
                        position: absolute;
                        z-index: 999;
                        cursor: pointer;
                        i{
                            color: white;
                            z-index: 999;
                        }
                    }

                    .iniciar-bg{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;
                        transition: 1s;

                        .text{
                            
                            h1{
                                font-size: 200px;
                                margin-left: 156px;
                                margin-top: 189px;
                                animation: surgir 3s , pulsar 5s infinite ;
                                display: flex;
                                
                                color:#ffffff ;
                                font-family: Valorant;
                               
                                &:hover{
                                    color:#ff8b8b ;
                                    cursor: pointer;
                                }
                               
                                &:after {
                                    font-family: "Font Awesome 5 Brands";
                                    font-weight: 400;
                                    content: "\f167";
                                    color: #cccfe9;
                                  }
                                
                            }
                        }
                        
                    }
                   
                }

                &.tela-game{
                    width: 100%;
                    height: 100%;
                  
                    transition: 0.3s ease-in-out;
                    display: none;
                    animation: surgir 3s ;
                    overflow: hidden;
                    
                    flex-direction: column; 
                    
                    .bg-video{
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                        transition: 0.3s ease-in-out;
                        
                        .vd{
                            width: 88vw;
                            position: relative;
                            bottom: 40px;
                            
                            transition: 0.3s ease-in-out;
                        
                        }
                    }
                    header{
                        width: 87.9vw;
                        height: 40px;
                        background-color: #380b4980;
                        z-index: 999;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #8c619c;

                        .area-logom{
                            padding-left: 5px;
                            padding-top: 2px;
                            display: flex;
                            cursor: pointer;
                            img{
                                width: 35px;
                            }
                        }
                         .area-logo2{
                            padding-left: 5px;
                            padding-top: 2px;
                            display: none;
                            cursor: pointer;
                            img{
                                width: 35px;
                            }
                        }
                        .area-menu{
                            .ul-menu{
                                display: flex;
                               
                                margin-left: 134px;
                                .menu-item{
                                    list-style: none;
                                    margin-left: 50px;
                                    &.jogar{
                                        width: 250px;
                                        
                                        border-top: 70px solid #6C2A84;
                                        border-left: 50px solid transparent;
                                        border-right: 50px solid transparent;
                                        height: 0;
                                        position: relative;
                                        top: -31px;
                                         
                                            a{
                                                font-size: 20px;
                                                font-weight: 500;
                                                position: relative;
                                                bottom: 38px;
                                                padding-right: 5px;
                                                font-family: Valorant;
                                                cursor: pointer;
                                                &:hover{
                                                    color: #dcacec;
                                                    
                                                }
                                            }       
                                    }
                                    .menu-link{
                                        font-size: 10px;
                                        color: white;
                                        line-height: 40px;
                                        text-decoration: none;
                                        font-weight: 500;
                                        transition: 0.5s;

                                        &:hover{
                                            color: #ce96e2;
                                            
                                        }
                                      
                                    }
                                }
                            }
                       
                        }
                        .area-dinheiro{
                            display: flex;
                            flex-direction: row;
                            p{
                                color: white;
                                padding-left: 25px;
                                line-height: 40px;
                                font-size: 13px;

                                img{
                                    width: 15px;
                                }
                               
                            }
                         }
                         .area-social{
                            position: relative;
                            right: -25px;
                             p{
                                 line-height: 40px;
                                 color: white;
                                 cursor: pointer;
                                 animation: surgir 2s;
                                 text-decoration: none;
                                 &:hover{
                                    color: #dc99f5;
                                 }
                                 &.pp2{
                                    display: none;
                                    padding-top: 10px;
                                    font-size: 20px;
                                    padding-right: 50px;
                                    animation: surgir 2s;
                                    
                                }
                                 i{
                                     color: #af5fcc;
                                    
                                     padding-right: 5px;
                                   
                                 }
                             }
                         }

                    }
                
                    .social-lateral{
                        width: 200px;
                        height: 40px;
                        overflow: hidden;
                        border: 2px solid  #3a014b;;
                        margin-right: 0px;
                        background-color: #501462;
                        z-index: 6;
                        animation: surgir 1s;
                        flex-direction: column;
                        position: absolute;
                        right:83px;
                        transition: 0.5s;
                        justify-content: start;
                        display: none;
                        
                            .area-usuario{
                                
                                width:200px ;
                                height: 40px;
                                background-color: #6C2A84;
                                text-align: center;
                                display: flex;
                                border: 1px solid  #3a014b;
                                .area-foto-usuario{
                                    width: 40px;
                                    height: 40px;
                                    background-color: #310b3f;
                                }
                                .info-usuario{
                                    background-color: #450B59;
                                   width: 160px;

                                    display: flex;
                                    flex-direction: column;
                                    position: relative;
                                    p{
                                        color: white;
                                        font-size: 10px;
                                        margin-bottom: 5px;
                                        font-weight: 700;

                                        &.status-pessoa{
                                            font-size: 8px;
                                            color: rgb(5, 190, 5);

                                            &.oc{
                                                color: rgb(172, 66, 233);
                                            }
                                            &.in{
                                                color: rgb(132, 147, 160);
                                            }
                                            &.np{
                                                color: rgb(122, 5, 231);
                                            }
                                        }
                                        
                                    }
                                }
                            }
                            .divisao{
                                justify-self: flex-start;
                                width: 200px;
                                height: 30px;
                                background-color:#1f0029; 
                                color: white;
                                padding-top: 5px;
                                margin-bottom: 0;
                                font-size: 12px;

                                span{
                                    color: rgb(219, 183, 226);
                                    position: absolute;
                                    left: 35px;
                                    font-size: 14px;
                                }
                            }
                            .divisao2{
                                justify-self: flex-start;
                                width: 200px;
                                height: 30px;
                                background-color:#1f0029; 
                                color: white;
                                padding-top: 5px;
                                margin-bottom: 0;
                                font-size: 12px;

                                span{
                                    color: rgb(219, 183, 226);
                                    position: absolute;
                                    left: 20px;
                                    font-size: 14px;
                                }
                            }
                        
                        
                    }
                    .chat{
                        width: 400px;
                        height: 20px;
                        position: fixed;
                        background-color: rgba(79, 1, 151, 0.295);
                        bottom: 33px;
                        z-index: 99;
                        transition: 0.3s;
                        border-radius: 2px;
                       
                        .nome-chat{
                            display: flex;
                            justify-content: space-between;
                            
                            cursor: pointer;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: rgb(238, 162, 253);
                            
                            i{
                                transform: rotate(180deg);
                                margin-bottom: 18px;
                            }
                          
                        }
                        p{
                            line-height: 20px;
                            font-size: 10PX;
                        }
                        i{
                            &.fechar{
                                display: none;
                                color: white;
                                position: absolute;
                                right: 0px;
                                top: 0;
                                cursor: pointer;

                                &:active{
                                    color: #a412da;
                                }
                            }
                        }
                    }
                    .config{
                        width: 200px;
                        height: 80px;
                        background-color: #5A0790;
                        position: fixed;
                        top: -12px;
                       
                        display: none;
                        left: 105px;
                        z-index: 9999;
                        transition: 0.5s;
                        animation: surgir 1s;
                        flex-direction: column;

                        p{
                            color: white;
                            line-height: 40px;
                            margin-bottom: 0;
                            cursor: pointer;
                            i{
                                padding-right: 6px;
                            }
                            &:hover{
                                background-color: #6d1092;
                                color:#cc95e7 ;
                            }
                            &.configu{
                                border-bottom: 1px solid #3B0C4D;
                               
                            }
                            }
                    }
                    .rank{
                        width: 300px;
                        height: 300px;
                        position: fixed;
                        top: 237px;
                        display: none;
                       
                        right:-250px;
                        overflow: hidden;
                        animation: surgir 1s;
                        transition: 0.5s;
                        flex-direction: column;
                        border-radius: 5px;
                        background-color:#34044e79 ;
                        
                        z-index: 9999;
                        img{
                            width: 140px;
                            align-self: center;
                            
                        }
                        p{
                            color: white;
                            font-weight: 600;
                        }
                           .rank-fechado{
                               display: flex;
                               background-color:#300349 ;
                               justify-items: center;
                               padding-left: 20px;
                               border-radius: 5px;
                            img{
                                width: 40px;
                                height: 40px;
                                margin-left: 0px;
                                margin-bottom:5px;

                            }
                            h1{
                                color: white;
                                font-family: Valorant;
                                padding-top: 8px;
                                padding-left: 15px;
                                font-size: 35px;
                            }
                           }
                        .proximo-rank{
                            width: 100%;
                            height: 80px;
                            background-color: #4f056e;
                            margin-top:0px;
                            display: flex;
                            justify-content: space-around;

                            img{
                                width: 50px;
                                margin-left: 15px;
                            }
                        }
                    }
                    .rank-img{
                        position: absolute;
                        z-index: 9995;
                        top: 250px;
                        right: 250px;
                        
                        img{
                            width: 100px;
                            margin-right: 50px;
                            cursor: pointer;
                           
                            animation:  surgir 2s;

                        &.img-rank{
                            width: 50px;
                            position: fixed;
                            top:  166px;
                            right: 236px;
                            animation:  surgir 2s;
                            display: none;
                        }
                        }
                    }
                    .tela-jogar{
                        width: 60vw ;
                        height: 0;
                        background-color: rgba(79, 1, 151, 0.664);
                        position: absolute;
                        z-index: 9998;
                        display: flex;
                        transition: 0.5s;
                        align-self: center;
                        top: 75px;
                        border-radius: 0px 0px 50px 50px;
                        justify-content: center;align-items: center;
                        h1{
                            color: white;
                            font-size: 80px;
                            font-family: Valorant;
                            animation: surgir 3s, trocarcor 1s infinite;
                            display: none;
                        }
                    }
                }
            }
    
    }
    
}
.toggleMenu {
    margin-left: 0px !important;
}

@keyframes troca{
    0%{
        background-color: #0f1923;
    }
    50%{
        background-color: #202d3a;
    }
    100%{
        background-color: #0f1923;
    }
}

@keyframes surgir{
  
    0%{
        display: block;
        opacity: 0;
    }
    
    100%{
        display: block;
        opacity: 1;
    }
}
@keyframes trocarcor{
    0%{
        color: white;
    }
    50%{
        color: #a662d9;
    }
    100%{
        color: white;
    }
} 
@keyframes pulsar {
    0%{
        font-size:200px ;
    }
    50%{
        
            font-size:203px ;
        
    }
    100%{
        
        font-size:200px ;
    
}

}

@media all and (display-mode: fullscreen) {
    body main section.tela-game .chat {
 
        bottom: 84px;
      
    }
    body main section.tela-game .config {
        
        top: 40px;
    }
    body main section.tela-game .tela-jogar {
      
        top: 123px;
    }
}