@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM + Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Grold";
  src: url(../fontes/Grold-Regular.otf);
}

@font-face {
  font-family: "Valorant";
  src: url(../fontes/ValorantFont.ttf);
}

body {
  width: 100%;
  height: 100vh;
  background-color: #cf093b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main {
  width: 1200px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

body main section.login {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #0f1923;
  -webkit-animation: troca 5s infinite;
          animation: troca 5s infinite;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 100%;
  z-index: 1;
}

body main section.login .area-logo {
  position: relative;
  bottom: 40px;
}

body main section.login .area-logo img {
  width: 100px;
  margin-top: 50px;
}

body main section.login .area-logo i {
  color: #fddfdf;
  font-size: 18px;
  position: relative;
  bottom: 0px;
  left: 100px;
}

body main section.login .area-logo i:hover {
  color: #F15B6C;
  cursor: pointer;
}

body main section.login .area-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 40px;
}

body main section.login .area-infos h3 {
  font-family: Grold;
  color: white;
  margin: 25px 0;
}

body main section.login .area-infos .form-group {
  width: 300px;
}

body main section.login .area-infos .form-group input {
  background-color: #2e4257;
  border: none;
  margin-bottom: 25px;
  height: 50px;
  color: white;
}

body main section.login .area-infos .form-group input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.login .area-infos .form-group input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.login .area-infos .form-group input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.login .area-infos .form-group input::placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.login .area-infos .form-group input:focus {
  font-size: 12px;
}

body main section.login .area-infos .form-group input:focus::-webkit-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.login .area-infos .form-group input:focus:-ms-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.login .area-infos .form-group input:focus::-ms-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.login .area-infos .form-group input:focus::placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.login .area-infos .redes button {
  width: 90px;
  margin-left: 5px;
}

body main section.login .area-infos .redes button i {
  font-size: 20px;
}

body main section.login .manterl {
  text-align: start;
  padding: 10px;
}

body main section.login .manterl input {
  border: none;
  background-color: #dafffa;
}

body main section.login .manterl label {
  color: #8493a0;
  font-weight: 700;
}

body main section.login .area-inferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.login .area-inferior i {
  position: relative;
  bottom: 30px;
  color: white;
  font-size: 60px;
}

body main section.login .area-inferior i:hover {
  color: #fce4e4;
  cursor: pointer;
}

body main section.login .area-inferior .area-regis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.login .area-inferior .area-regis p {
  color: white;
  padding-top: 5px;
  margin-top: 10px;
  padding-right: 10px;
}

body main section.registro {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #0f1923;
  -webkit-animation: troca 5s infinite;
          animation: troca 5s infinite;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
  position: absolute;
  z-index: 2;
}

body main section.registro .area-logo {
  position: relative;
  bottom: 40px;
}

body main section.registro .area-logo img {
  width: 100px;
  margin-top: 50px;
}

body main section.registro .area-logo i {
  color: #fddfdf;
  font-size: 18px;
  position: relative;
  bottom: 0px;
  left: 100px;
}

body main section.registro .area-logo i:hover {
  color: #F15B6C;
  cursor: pointer;
}

body main section.registro .area-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 40px;
}

body main section.registro .area-infos h3 {
  font-family: Grold;
  color: white;
  margin: 25px 0;
}

body main section.registro .area-infos .form-group {
  width: 300px;
}

body main section.registro .area-infos .form-group input {
  background-color: #2e4257;
  border: none;
  margin-bottom: 25px;
  height: 50px;
  color: white;
}

body main section.registro .area-infos .form-group input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.registro .area-infos .form-group input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.registro .area-infos .form-group input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.registro .area-infos .form-group input::placeholder {
  font-size: 13px;
  font-weight: 700;
  color: #8493a0;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  bottom: 5px;
  font-family: Grold;
}

body main section.registro .area-infos .form-group input:focus {
  font-size: 12px;
}

body main section.registro .area-infos .form-group input:focus::-webkit-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.registro .area-infos .form-group input:focus:-ms-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.registro .area-infos .form-group input:focus::-ms-input-placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.registro .area-infos .form-group input:focus::placeholder {
  color: #d3d9df;
  font-size: 10px;
  bottom: 15px;
  padding-bottom: 405px;
  padding: 10px;
}

body main section.registro .area-infos .redes button {
  width: 90px;
  margin-left: 5px;
}

body main section.registro .area-infos .redes button i {
  font-size: 20px;
}

body main section.registro .criar {
  font-family: Grold;
  margin-bottom: 20px;
}

body main section.registro .area-inferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.registro .area-inferior .area-regis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

body main section.registro .area-inferior .area-regis p {
  color: white;
  padding-top: 5px;
  margin-top: 10px;
  padding-right: 10px;
}

body main section.back {
  width: 70%;
  height: 100%;
  background: url(../imagens/convert.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section.back .bg-video {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.back .bg-video .vd {
  width: 1200px;
  position: relative;
  right: 200px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.back .area-config {
  width: 40px;
  height: 40px;
  background-color: #202D3A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  cursor: pointer;
}

body main section.back .area-config i {
  color: #F32D3D;
  cursor: pointer;
}

body main section.back .area-config:hover {
  background-color: #0b121a;
}

body main section.back .area-config:hover i {
  color: #960713;
}

body main section.back .voltar {
  width: 40px;
  height: 40px;
  background-color: #202D3A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}

body main section.back .voltar i {
  color: white;
  z-index: 999;
}

body main section.back .iniciar-bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

body main section.back .iniciar-bg .text h1 {
  font-size: 200px;
  margin-left: 156px;
  margin-top: 189px;
  -webkit-animation: surgir 3s , pulsar 5s infinite;
          animation: surgir 3s , pulsar 5s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: Valorant;
}

body main section.back .iniciar-bg .text h1:hover {
  color: #ff8b8b;
  cursor: pointer;
}

body main section.back .iniciar-bg .text h1:after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "\f167";
  color: #cccfe9;
}

body main section.tela-game {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: none;
  -webkit-animation: surgir 3s;
          animation: surgir 3s;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section.tela-game .bg-video {
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.tela-game .bg-video .vd {
  width: 88vw;
  position: relative;
  bottom: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.tela-game header {
  width: 87.9vw;
  height: 40px;
  background-color: #380b4980;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #8c619c;
}

body main section.tela-game header .area-logom {
  padding-left: 5px;
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

body main section.tela-game header .area-logom img {
  width: 35px;
}

body main section.tela-game header .area-logo2 {
  padding-left: 5px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}

body main section.tela-game header .area-logo2 img {
  width: 35px;
}

body main section.tela-game header .area-menu .ul-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 134px;
}

body main section.tela-game header .area-menu .ul-menu .menu-item {
  list-style: none;
  margin-left: 50px;
}

body main section.tela-game header .area-menu .ul-menu .menu-item.jogar {
  width: 250px;
  border-top: 70px solid #6C2A84;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  position: relative;
  top: -31px;
}

body main section.tela-game header .area-menu .ul-menu .menu-item.jogar a {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 38px;
  padding-right: 5px;
  font-family: Valorant;
}

body main section.tela-game header .area-menu .ul-menu .menu-item.jogar a:hover {
  color: #dcacec;
}

body main section.tela-game header .area-menu .ul-menu .menu-item .menu-link {
  font-size: 10px;
  color: white;
  line-height: 40px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section.tela-game header .area-menu .ul-menu .menu-item .menu-link:hover {
  color: #ce96e2;
}

body main section.tela-game header .area-dinheiro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main section.tela-game header .area-dinheiro p {
  color: white;
  padding-left: 25px;
  line-height: 40px;
  font-size: 13px;
}

body main section.tela-game header .area-dinheiro p img {
  width: 15px;
}

body main section.tela-game header .area-social {
  position: relative;
  right: -25px;
}

body main section.tela-game header .area-social p {
  line-height: 40px;
  color: white;
  cursor: pointer;
  -webkit-animation: surgir 2s;
          animation: surgir 2s;
  text-decoration: none;
}

body main section.tela-game header .area-social p:hover {
  color: #dc99f5;
}

body main section.tela-game header .area-social p.pp2 {
  display: none;
  padding-top: 10px;
  font-size: 20px;
  padding-right: 50px;
  -webkit-animation: surgir 2s;
          animation: surgir 2s;
}

body main section.tela-game header .area-social p i {
  color: #af5fcc;
  padding-right: 5px;
}

body main section.tela-game .social-lateral {
  width: 200px;
  height: 40px;
  overflow: hidden;
  border: 2px solid  #3a014b;
  margin-right: 0px;
  background-color: #501462;
  z-index: 6;
  -webkit-animation: surgir 1s;
          animation: surgir 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 83px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: none;
}

body main section.tela-game .social-lateral .area-usuario {
  width: 200px;
  height: 40px;
  background-color: #6C2A84;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid  #3a014b;
}

body main section.tela-game .social-lateral .area-usuario .area-foto-usuario {
  width: 40px;
  height: 40px;
  background-color: #310b3f;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario {
  background-color: #450B59;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario p {
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario p.status-pessoa {
  font-size: 8px;
  color: #05be05;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario p.status-pessoa.oc {
  color: #ac42e9;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario p.status-pessoa.in {
  color: #8493a0;
}

body main section.tela-game .social-lateral .area-usuario .info-usuario p.status-pessoa.np {
  color: #7a05e7;
}

body main section.tela-game .social-lateral .divisao {
  justify-self: flex-start;
  width: 200px;
  height: 30px;
  background-color: #1f0029;
  color: white;
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
}

body main section.tela-game .social-lateral .divisao span {
  color: #dbb7e2;
  position: absolute;
  left: 35px;
  font-size: 14px;
}

body main section.tela-game .social-lateral .divisao2 {
  justify-self: flex-start;
  width: 200px;
  height: 30px;
  background-color: #1f0029;
  color: white;
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
}

body main section.tela-game .social-lateral .divisao2 span {
  color: #dbb7e2;
  position: absolute;
  left: 20px;
  font-size: 14px;
}

body main section.tela-game .chat {
  width: 400px;
  height: 20px;
  position: fixed;
  background-color: rgba(79, 1, 151, 0.295);
  bottom: 33px;
  z-index: 99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

body main section.tela-game .chat .nome-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  color: #eea2fd;
}

body main section.tela-game .chat .nome-chat i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 18px;
}

body main section.tela-game .chat p {
  line-height: 20px;
  font-size: 10PX;
}

body main section.tela-game .chat i.fechar {
  display: none;
  color: white;
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
}

body main section.tela-game .chat i.fechar:active {
  color: #a412da;
}

body main section.tela-game .config {
  width: 200px;
  height: 80px;
  background-color: #5A0790;
  position: fixed;
  top: -12px;
  display: none;
  left: 105px;
  z-index: 9999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: surgir 1s;
          animation: surgir 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section.tela-game .config p {
  color: white;
  line-height: 40px;
  margin-bottom: 0;
  cursor: pointer;
}

body main section.tela-game .config p i {
  padding-right: 6px;
}

body main section.tela-game .config p:hover {
  background-color: #6d1092;
  color: #cc95e7;
}

body main section.tela-game .config p.configu {
  border-bottom: 1px solid #3B0C4D;
}

body main section.tela-game .rank {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 237px;
  display: none;
  right: -250px;
  overflow: hidden;
  -webkit-animation: surgir 1s;
          animation: surgir 1s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  background-color: #34044e79;
  z-index: 9999;
}

body main section.tela-game .rank img {
  width: 140px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main section.tela-game .rank p {
  color: white;
  font-weight: 600;
}

body main section.tela-game .rank .rank-fechado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #300349;
  justify-items: center;
  padding-left: 20px;
  border-radius: 5px;
}

body main section.tela-game .rank .rank-fechado img {
  width: 40px;
  height: 40px;
  margin-left: 0px;
  margin-bottom: 5px;
}

body main section.tela-game .rank .rank-fechado h1 {
  color: white;
  font-family: Valorant;
  padding-top: 8px;
  padding-left: 15px;
  font-size: 35px;
}

body main section.tela-game .rank .proximo-rank {
  width: 100%;
  height: 80px;
  background-color: #4f056e;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main section.tela-game .rank .proximo-rank img {
  width: 50px;
  margin-left: 15px;
}

body main section.tela-game .rank-img {
  position: absolute;
  z-index: 9999;
  top: 250px;
  right: 250px;
}

body main section.tela-game .rank-img img {
  width: 100px;
  margin-right: 50px;
  cursor: pointer;
  -webkit-animation: surgir 2s;
          animation: surgir 2s;
}

body main section.tela-game .rank-img img.img-rank {
  width: 50px;
  position: fixed;
  top: 166px;
  right: 236px;
  -webkit-animation: surgir 2s;
          animation: surgir 2s;
  display: none;
}

.toggleMenu {
  margin-left: 0px !important;
}

@-webkit-keyframes troca {
  0% {
    background-color: #0f1923;
  }
  50% {
    background-color: #202d3a;
  }
  100% {
    background-color: #0f1923;
  }
}

@keyframes troca {
  0% {
    background-color: #0f1923;
  }
  50% {
    background-color: #202d3a;
  }
  100% {
    background-color: #0f1923;
  }
}

@-webkit-keyframes surgir {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes surgir {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes pulsar {
  0% {
    font-size: 200px;
  }
  50% {
    font-size: 203px;
  }
  100% {
    font-size: 200px;
  }
}

@keyframes pulsar {
  0% {
    font-size: 200px;
  }
  50% {
    font-size: 203px;
  }
  100% {
    font-size: 200px;
  }
}

@media all and (display-mode: fullscreen) {
  body main section.tela-game .chat {
    bottom: 84px;
  }
  body main section.tela-game .config {
    top: 40px;
  }
}
/*# sourceMappingURL=main.css.map */